body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    color: unset;
    text-decoration: unset;
    background-color: #e0e2db;
}

h1 {
    text-align: center;
    padding-top: 3vh;
    font-size: 50px;
}

h2 {
    margin: 30px 20px;
}

h3 {
    text-align: center;
}

div {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh 2vw;
}

div a:hover {
    color: #daa520;
}

p {
    text-indent: 2vw;
    margin-bottom: 2vh;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline;
    font-weight: 600;
}

a:link {
    color: #0c7489;
}

a:visited {
    color: purple;
}

a:hover {
    color: black;
}


/*Everything above is the parent styling for the page. Will effect everything outside the article*/

nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    height: 50%;
    position: fixed;
    overflow: auto;
}

nav li {
    flex-direction: column;
    list-style-type: none;
}

nav a:hover {
    background-color: #daa520;
    padding: .5px 12px;
}

nav img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}


/*Below is the styling for the article elements and will change how the article is displayed.*/

article {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh 1vw;
    border: 5px outset #0c7489;
}

article p {
    margin: 10px 25px;
}

article a:link {
    color: black;
}

article a:hover {
    color: #daa520;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: .9rem;
    }
}

time {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2vw;
    float: initial;
    font-weight: 600;
}

/*Footer styling*/

footer {
    margin: 2vw;
    font-size: 1.2vw;
}


/*Below are the classes and IDs used to help style specific elements*/

.image-center {
    margin: auto;
}

