body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    color: unset;
    text-decoration: unset;
}

h1 {
    text-align: center;
    padding-top: 3vh;
}

h2 {
    margin-left: 10px;
    padding-bottom: 2vh;
}

div {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh 2vw;
}

p {
    text-indent: 2vw;
    margin-bottom: 2vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: flex;
    float: left;
    padding: 2vw;
}

article {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh 2vw;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;
    }
}

time {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2vw;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
