body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    color: unset;
    text-decoration: unset;
}

h1 {
    text-align: center;
    padding-top: 3vh;
}

h2 {
    margin-left: 20px;
    padding-bottom: 2vh;
}

div {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh 2vw;
}

p {
    text-indent: 2vw;
    margin-bottom: 2vh;
}

article {
    display: grid;
    grid-template-columns: 1fr [start] 7.5in [end] 0.5in 1 fr;
    height: 100vh;
    padding: 0.5in 0;
}

article * {
    grid-column: start/end;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;
    }
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
